.h1-title {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px; /* Updated font size to 30px */
    line-height: 108px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 900;
  }
  
  .h1-title span {
    color: #ff8243;
    background-size: 100% 15px;
    background-position: 0 90%;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
  }
  
  .info-grp { /* Changed from card-grp to info-grp */
    margin-top: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  
  .info { /* Changed from card to info */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: none;
  }
  
  .info img { /* Changed from card img to info img */
    height: 15rem;
    width: 25rem;
    border-radius: 0.5rem;
    background-color: antiquewhite;
  }
  
  .info h2 { /* Changed from card h2 to info h2 */
    margin-top: 1rem;
  }
  
  .info-btn { /* Changed from card-btn to info-btn */
    margin-left: 53rem;
    margin-top: 2rem;
  }
  